<a href="https://colab.research.google.com/github/sreekar-1726/c-practice/blob/main/07_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple

In [7]:
fruits = ("apple","cherry","banana","stroberry")
print(fruits)

('apple', 'cherry', 'banana', 'stroberry')

In [6]:
fruits=[1,4,8,3,1,2,1,3,1,1,1,1]
x=fruits.count(1)
y=len(fruits)
print(x)
print(y)

7
12

In [9]:
fruit = ("cherry",)
print(type(fruit))
fruit = ("cherry")
print(type(fruit))

<class 'tuple'>
<class 'str'>

In [10]:
a = ("apple", "banana", "cherry")
b = (1, 5, 7, 9, 3)
c = (True, False, False)

print(a)
print(b)
print(c)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [11]:
a = ("apple", "banana", "cherry")
b = (1, 5, 7, 9, 3)
c = (True, False, False)

print(b)
print(c)
print(a)

(1, 5, 7, 9, 3)
(True, False, False)
('apple', 'banana', 'cherry')

In [12]:
a = ("abc", 34, True, 40, "male")
print(a)

('abc', 34, True, 40, 'male')

In [13]:
a= ("apple", "banana", "cherry")
print(type(a))

<class 'tuple'>

In [37]:
a = ("apple", "banana", "cherry")
print(a[1:3])
print(a[-3:-2])

('banana', 'cherry')
('apple',)

In [40]:
a = ("apple", "banana", "cherry")
if "cherry" in a:
  print("Yes, 'cherry' is in the fruits tuple")

Yes, 'cherry' is in the fruits tuple

In [43]:
for stars in range(12, 0, -1):
   for _ in range((1, stars+1, 1):
      prin
   p                                                                                                                                                                                                                                                                                                                                                                                                                                                                                r                                                                                                                                                                                                                                                                                                                                 i                                                                                                                                                                                                                                                                                                                                                        n                                                                                                                                                                                                                                                                                                                                                                                                                                    t                                                                                                                                                                                                                                                                                                                                                                                                                                                          (                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             s                                                                                                                                                                                                                                                                                                                                                                   t                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              a                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  r                                                                                                                                                                                                                                                                                                                                                                                                                                  s                                                                                                                                                                         )

SyntaxError: ignored