<a href="https://colab.research.google.com/github/sreekar-1726/c-practice/blob/main/12_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits = {"apple", "banana", "cherry","strawberri","watermelon"}

print(len(fruits))

5

In [9]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {1, 5, 7, 9, 3, 2, 6, 8}
set3 = {True, False, False,True}

print(set1)
print(set2)
print(set3)
print(type(set1))
print(set2)
for x in set1:
  print(x)
  print("2" in set2 )

{'banana', 'strawberri', 'cherry', 'apple', 'watermelon'}
{1, 2, 3, 5, 6, 7, 8, 9}
{False, True}
<class 'set'>
{1, 2, 3, 5, 6, 7, 8, 9}
banana
False
strawberri
False
cherry
False
apple
False
watermelon
False

In [10]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {1, 5, 7, 9, 3, 2, 6, 8}
set3 = {True, False, False,True}

print(set1)
print(set2)
print(set3)

{'banana', 'strawberri', 'cherry', 'apple', 'watermelon'}
{1, 2, 3, 5, 6, 7, 8, 9}
{False, True}

In [11]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {1, 5, 7, 9, 3, 2, 6, 8}
set3 = {True, False, False,True}
print(type(set1))

<class 'set'>

In [12]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {1, 5, 7, 9, 3, 2, 6, 8}
set3 = {True, False, False,True}
print(set2)

{1, 2, 3, 5, 6, 7, 8, 9}

In [13]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {1, 5, 7, 9, 3, 2, 6, 8}
set3 = {True, False, False,True}
for x in set1:
  print(x)

banana
strawberri
cherry
apple
watermelon

In [15]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {"1", "9", "3" , "2"}
set3 = {True, False, False,True}
print("2" in set2 )

True

In [27]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}
set2 = {"1", "9", "3" , "2"}
set1.add("orange")
set2.add("5")
print(set1)
print(set2)

{'banana', 'strawberri', 'cherry', 'orange', 'apple', 'watermelon'}
{'2', '5', '1', '9', '3'}

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}

set1.update(set2)

print(set1)

{'banana', 'papaya', 'cherry', 'mango', 'pineapple', 'apple'}

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = ["kiwi", "orange"]

set1.update(set2)

print(set1)

{'kiwi', 'banana', 'cherry', 'orange', 'apple'}

In [26]:
set1 = {"apple", "banana", "cherry","strawberri","watermelon"}

set1.remove("banana")
set1.remove("strawberri")
print(set1)

{'cherry', 'apple', 'watermelon'}

In [31]:
set = {"apple", "banana", "cherry","strawberri","watermelon"}

set.discard("banana")
print(set)

{'strawberri', 'cherry', 'apple', 'watermelon'}

In [33]:
set = {"apple", "banana", "cherry"}

x = set.pop()

print(x)

print(set)

cherry
{'banana', 'apple'}

In [34]:
set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

In [35]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

In [36]:
set = {"apple", "banana", "cherry"}

for x in set:
  print(x)

cherry
banana
apple

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [38]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [41]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [42]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}