<a href="https://colab.research.google.com/github/sreekar-1726/c-practice/blob/main/13_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [4]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print (thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [5]:
list=["apple", "banana", "cherry"]
print(list)

['apple', 'banana', 'cherry']

In [7]:
list = ["apple", "banana", "cherry", "apple"]
print(len(list))

4

In [8]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [9]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [14]:
list = ["apple", "banana", "cherry","orange", "kiwi", "melon", "mango"]
print(list[-3:-2])

['kiwi']

In [16]:
list=["apple", "banana", "cherry","kiwi", "melon", "mango"]
if"banana"in list:
  print("yes,'banana' is in the fruits list")

yes,'banana' is in the fruits list

In [18]:
list = ["apple", "banana", "cherry","kiwi", "melon"]
list[2] = "mango"
list[3]="watermelon"

print(list)

['apple', 'banana', 'mango', 'watermelon', 'melon']

In [19]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

list[1:3] = ["blackcurrant", "watermelon"]

print(list)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [20]:
list = ["apple", "banana", "cherry"]
list.insert(1, "orange")
print(list)

['apple', 'orange', 'banana', 'cherry']

In [21]:
list = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
list.extend(tropical)
print(list)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']